{% extends "layout/basic.html" %}

{% block title %}
<title>Assets</title>
{% endblock title %}

{% block content %}
<h1>
    Assets
    <a href="{% url 'main:add_asset' %}">Add asset</a>
</h1>
<ul>
    {% for asset in assets %}
    <li>
        <h2>
            <a href="{% url 'main:asset' asset.pk %}">
                {{ asset.short_name }}
            </a>
        </h2>
        <p>{{ asset.name }}</p>
    </li>
    {% empty %}
    <li>
        There are no assets...
    </li>
    {% endfor %}
</ul>
{% endblock content %}