{% extends "layout/basic.html" %}

{% block title %}
<title>Portfolios</title>
{% endblock title %}

{% block content %}
<h1>
    Portfolios
    <a href="{% url 'cptracker:add_portfolio' %}">Add portfolio</a>
</h1>
<ul>
    {% for portfolio in portfolios %}
    <li>
        <h2>
            <a href="{% url 'cptracker:portfolio' portfolio.pk %}">
                {{ portfolio.name }}
            </a>
        </h2>
        <p>{{ portfolio.date_added }}</p>
        <a href="{% url 'cptracker:change_portfolio' portfolio.pk %}">
            Change portfolio
        </a>
    </li>
    {% empty %}
    <li>
        There are no portfolios...
    </li>
    {% endfor %}
</ul>
{% endblock content %}