{% extends "layout/basic.html" %}

{% block title %}
<title>Portfolios</title>
{% endblock title %}

{% block content %}
<h1>Portfolios</h1>
<ul>
    {% for portfolio in portfolios %}
    <li>
        <h2>
            <a href="{% url 'cptracker:portfolio' portfolio.pk %}">
                {{ portfolio.name }}
            </a>
        </h2>
        <p>{{ portfolio.balance }}</p>
        <p>{{ portfolio.date_added }}</p>
    </li>
    {% empty %}
    <li>
        There are no entries...
    </li>
    {% endfor %}
</ul>
{% endblock content %}