{% extends "layout/basic.html" %}

{% block title %}
<title>Portfolio</title>
{% endblock title %}

{% block content %}
<h1>Portfolio</h1>
<ul>
    <li>
        <h2>
            {{ portfolio.name }} - 
            <a href="{% url 'cptracker:add_userasset' portfolio.pk %}">Add asset</a>
        </h2>
        <p>{{ portfolio.date_added }}</p>
        <ul>
            {% for asset in assets %}
            <li>
                {{ asset.asset }} - {{ asset.balance }}
            </li>
            {% empty %}
            <li>
                There are no assets...
            </li>
            {% endfor %}
        </ul>

        <a href="{% url 'cptracker:change_portfolio' portfolio.pk %}">
            Change portfolio
        </a>
    </li>
</ul>
{% endblock %}